$green: #11B980;
$primary: #549DF2;
$dark: #343a40;
.hxc-green {
    color: $green;
}

.hxb-green {
    background: $green;
}

.hxb-primary {
    background: $primary;
}

.hxb-dark {
    background: $dark;
}